<style>
  textarea:focus,
  input:focus {
    border-color: goldenrod !important;
  }
</style>

<section class="form-container">
  <div class="form-header">
    <h2>Contact Me</h2>
    <h3>We are always happy to find out what's on your mind</h3>
  </div>
  <form
    [formGroup]="contactForm"
    #formDirective="ngForm"
    id="contact-form"
    action="/"
    method="post"
    (ngSubmit)="onSubmit(contactForm.value, formDirective)"
  >
    <div class="form-section">
      <input
        formControlName="firstName"
        type="text"
        placeholder="First Name"
        id="firstname"
        [style.border-color]="
          !this.contactForm.controls['firstName'].pristine &&
          this.contactForm.controls['firstName'].getError('0') == null
            ? 'green'
            : this.contactForm.controls['firstName'].getError('0').length > 0
            ? 'red'
            : 'white'
        "
      />
      <small
        [style.visibility]="
          this.contactForm.controls['firstName'].status == 'INVALID'
            ? 'visible'
            : 'hidden'
        "
        class="error"
        name="name-error"
        id="name-error"
        >{{ firstName.getError("0") }}</small
      >
    </div>
    <div class="form-section">
      <input
        formControlName="email"
        type="email"
        placeholder="E-mail"
        id="email"
        [style.border-color]="
          !email.pristine && email.getError('0') == null
            ? 'green'
            : email.getError('0').length > 0
            ? 'red'
            : 'white'
        "
      />
      <small
        [style.visibility]="
          this.contactForm.controls['email'].status == 'INVALID'
            ? 'visible'
            : 'hidden'
        "
        class="error"
        name="email-error"
        id="email-error"
        >{{ email.getError("0") }}</small
      >
    </div>
    <div class="form-section">
      <textarea
        formControlName="message"
        rows="calc(5vw)"
        cols="calc(15vw)"
        id="messagebox"
        maxlength="120"
        placeholder="Your message here"
        [style.border-color]="
          message.touched && message.getError('0') == null
            ? 'green'
            : message.touched && message.getError('0').length > 0
            ? 'red'
            : 'white'
        "
        (input)="charCount($event)"
      ></textarea>
      <div class="message-foot clearfix">
        <small
          [style.visibility]="
            message.status == 'INVALID' ? 'visible' : 'hidden'
          "
          class="error"
          name="message-error"
          id="message-error"
          >{{ message.getError("0") }}</small
        >
        <small class="numchar" id="numchar">
          <span id="char-count" name="char-count">{{ this.msgLength }}</span>
          /
          <span id="char-max">120</span>
        </small>
      </div>
    </div>
    <div class="form-section">
      <button
        type="submit"
        name="submit-btn"
        id="submit-btn"
        onSubmit="document.getElementById('submit-btn').disabled=true;"
        [disabled]="contactForm.status == 'INVALID' ? true : null"
      >
        Send
      </button>
    </div>
  </form>
</section>

<!-- For Debugging -->
<!-- 
<p style="color: yellow; background-color: black; max-width: 80vw">
  Value: {{ contactForm.value | json }} <br />
  Form Status: {{ contactForm.status }}
</p>
<p style="color: yellow; background-color: black">
  First Name {{ firstName.status }} : {{ firstName.getError("0") }}
  <br />
  E-mail {{ email.status }} : {{ email.getError("0") }} <br />
  Message {{ message.status }} : {{ message.getError("0") }}
</p> -->
