* {
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
}

.form-container {
    /* Neumorphism effects 
----------------------------------------------- */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: rgba(255, 255, 255, 0.25);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    box-shadow: 8px 8px 26px #cbced1, -8px -8px 26px #ffffff;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 12px;
    /* Dimensions
----------------------------------------------- */
    width: 80vmax;
    max-width: 80vw;
    height: 70vmax;
    max-height: 70vh;
    overflow: hidden;
    /*
----------------------------------------------- */
    text-align: center;
    align-items: center;
}

.form-header {
    font-family: inherit;
    padding: 1rem 0;
    max-height: 30%;
}

.form-header h2 {
    font-size: calc(0.01rem + 6.9vmin);
    /* border: 1px solid red; */
    margin: 0;
}

.form-header h3 {
    font-size: 1.8vmax;
    padding: 0 10%;
    /* border: 1px solid blue; */
    margin: 0;
}

.form-section {
    padding: 0.1vmax 0 0.1vmax 30%;
    margin-bottom: 0.02vmax;
    /* padding-left: 30%; */
    /* border: 1px solid yellow; */
    max-height: 10%;
}

.form-section input,
.form-section textarea,
.form-section .error,
.form-section #submit-btn {
    width: 60%;
    text-align: left;
    display: block;
}

@media (orientation: portrait) {

    .form-section input,
    .form-section textarea,
    .form-section .error,
    .form-section #submit-btn {
        width: 80%;
    }

    .form-section {
        padding-left: 18%;
    }
}

.form-section input,
.form-section textarea {
    font-size: calc(0.08vmax + 0.8rem);
    font-family: inherit;
    align-items: center;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border: 1px solid white;
    border-radius: 25px;
    border: 2px solid;
    border-color: white;
    background-color: #efeeee;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px -10px #ffffff;
}

.form-section textarea {
    height: 25vh;
    max-height: 20%;
}

.form-section .error {
    color: red;
    padding-left: 1rem;
    width: 30vw;
    visibility: hidden;
    /* 			border: 1px solid greenyellow; */
}

small {
    min-height: calc(0.5rem + 0.3vw);
    font-size: calc(0.5rem + 0.3vw);
}

.message-foot {
    /* border: 1px solid aqua; */
    padding-top: 2px;
    width: 60%;
    display: block;
}

@media (orientation: portrait) {
    .message-foot {
        width: 75%;
    }
}

#message-error,
#numchar {
    /* border: 1px solid green; */
}

#message-error {
    float: left;
    width: 28vw;
    /* 			margin-right: 0.05px; */
}

#numchar {
    font-size: 0.5rem;
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.form-section #submit-btn {
    height: 100%;
    padding-top: 0.08vmax;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background-color: black;
    /* 			color: #494949; */
    text-transform: uppercase;
    text-decoration: none;
    background: green;
    /* 			border: 1px solid #494949; */
    border-radius: 25px;
    transition: all 0.4s ease 0s;
}

#submit-btn:hover {
    color: #ffffff;
    background: #f6b93b;
    transition: all 0.4s ease 0s;
}



#submit-btn:disabled,
#submit-btn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


@media (min-aspect-ratio: 16/9) {
    .form-container {
        /* 				height: 85vh; */
        max-height: 90vh;
    }
}